.scheduler-partial {
	.schedule {
		.schedules {
			.pagination {
				margin: 10px 0;
			}
		}
		.schedule-header {
			h3 {
				text-align: center;
				font-size: 28px;
				margin-bottom: 10px;
			}
			.blessed {
				margin-top: 8px;
				.text-muted {
					text-align: center;
				}
			}
		}
		.schedule-grid {
			.semester {
				margin-bottom: 30px;
			}
			.course {
				margin-bottom: 5px;
			}
		}
	}

	.requirements {
		.requirements-header {
			text-align: center;
			margin-bottom: 15px;
			h3 {
				font-size: 18px;
			}
		}
		.requirement-section {
			margin-bottom: 15px;
			header {
				font-size: 14px;
				padding: 2px 5px 1px;
				color: #fff;
			}
			header.sat {
        background-color: #3c763d;
      }

      header.ip {
        background-color: #31708f;
      }

      header.not-sat {
        background-color: #a94442;
      }
			.requirements-list {
				display: block;
				margin-top: 5px;
			}
			.badge {
				margin-right: 5px;
			}
			.badge.satisfied {
				background-color: #3c763d;
			}
			.badge.not-satisfied {
				background-color: #a94442;
			}
		}
	}
}