.scheduler-partial {

	.scheduler-main {
		padding-bottom: 50px;
	}

	.semester-labels {
		width: 50px;
		position: absolute;
		left: -35px;
		height: 816px;
		background: #333;
		top: 0;

		.semester-label {
			padding: 0;
			position: absolute;
			text-align: center;
		}

		.semester-label h1 {
			display: inline-block;
			width: 16px;
			white-space: normal;
			font-size: 20px;
			color: white;
		}

		.semester-label.fall {
			top: 204px;
			right: 17px;
		}

		.semester-label.spring {
			top: 400px;
			right: 17px;
		}

		.semester-label.summer {
			top: 605px;
			right: 17px;
		}
	}

	.schedule {
		.schedules {
			display: inline-block;
			float: left;

			.pagination {
				margin: 0;
			}

			.pagination li {
				cursor: pointer;
			}

			.pagination li a {
				color: black;
				margin-right: 5px;
			}
		}

		.schedule-header {
			padding: 15px;
			background: #1590CB;

			h3 {
				text-align: center;
				font-size: 28px;
				margin: 0 0 10px 0;
				color: white;
				font-weight: bold;
			}
			.blessed {
				margin-top: 8px;
				.text-muted {
					text-align: center;
				}
			}

			.header-options {
				overflow: auto;
				margin-top: 25px;
			}
		}
		.schedule-grid {
			background: white;
			padding: 10px;
			overflow-x: scroll;
			overflow-y: hidden;
			width: auto;
			white-space: nowrap;

			.semester {
				margin-bottom: 30px;
				background: #eee;
				padding: 10px;
				border-radius: 2px;
				position: relative;
			}

			.semester input {
				height: 28px;
				padding: 6px 6px;
				position: absolute;
				bottom: 10px;
				width: 180px;
				border: none;
				border-radius: 2px;
			}

			.course {
				margin-bottom: 5px;
				position: relative;
				height: 28px;
			}

			.class-name {
				position: absolute;
				top: 5px;
			}

			.remove-course {
				transition-duration: .20s;
    			transition-timing-function: linear;
    			position: absolute;
				right: 0;

				&:hover {
					background: #CE343F;
					color: white;
				}
			}
		}
	}

	.requirements {
		background: #333;
		padding: 0;
		color: white;

		.requirements-header {
			text-align: center;
			padding: 10px 0;

			h3 {
				font-size: 18px;
				font-weight: 600;
				margin: 0;
			}
		}

		.requirement-subsection {
			background: white;
		}

		.requirement-section {

			header {
				font-size: 14px;
				color: #fff;
				padding: 5px;
			}
			header.sat {
				background-color: #128C00;
			}

			header.ip {
				background-color: #2B5A8A;
			}

			header.not-sat {
				background-color: #CE343F;
			}
			.requirements-list {
				display: block;
				padding: 0 5px 5px 5px;
			}
			.badge {
				font-weight: 400;
				margin-right: 5px;
			}
			.badge.satisfied {
				background-color: #3DAF2C;
			}
			.badge.not-satisfied {
				background-color: #CE343F;
			}
		}
	}
}