.admin-search-partial {

	.admin-search-title {
		text-align: center;
		font-weight: 600;
	}

	.search-fields {
		text-align: center;

		input {
			margin-right: 20px;
			padding: 6px 6px;
			border: 1px solid #333;
			box-shadow: none;
			outline: none;
			border-radius: 2px;
		}
	}
}