.admin-panel-partial {
	.scheduler-main {
		display: flex;
		flex-flow: row;
		min-height: 450px;
	}

	.admin-section {
		margin-bottom: 20px;
		padding: 15px 35px;
		background: #FFE7A8;
	}

	.admin-section textarea {
		margin: 0;
		width: 1000px;
		height: 118px;
	}

	.admin-main {
		padding: 0 25px 25px 25px;
		min-height: 800px;
		overflow: auto;
	}
}