<div class="header-partial">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img class="rounded" src="http://placehold.it/40x40">
					<span>Degree Check</span>
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" id="username">{{scheduleService.schedule.name}}</a></li>
				<li><a href="/api/authentication/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
</div>
