.header-partial {
	.navbar {
    background-color: #4393b9;
		border-bottom: 0;
	}
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #4393b9;
  }
}