<script type="text/ng-template" id="about.html">
	<div class="modal-header">
		<h3 class="modal-title">About</h3>
	</div>
	<div class="modal-body">
		<p>Degree Check was built to help students figure out whether they are going to fulfill all of the requirements for their major. By using this app, students can plan out schedules for their remaining semesters at Cal and determine if these schedules include all of the required courses they need. Currently, our app only supports the EECS and Computer Science majors.</p>
		<p>This app was built as project for CS 169, an upper division Computer Science class on Software Engineering.</p>
	</div>
</script>

<script type="text/ng-template" id="contact.html">
	<div class="modal-header">
		<h3 class="modal-title">Contact</h3>
	</div>
	<div class="modal-body">
		<p>If you have any questions about this app, please contact any of the students in the Team section.</p>
	</div>
</script>

<script type="text/ng-template" id="team.html">
	<div class="modal-header">
		<h3 class="modal-title">Team</h3>
	</div>
	<div class="modal-body">
	</div>
</script>

<div class="footer-partial">
	<footer class="footer">
		<div class="container-fluid">
	    <ul class="links">
	      <li><a ng-click="about()"><span>About</span></li>
	      <li><a ng-click="contact()"><span>Contact</span></li>
	      <li><a ng-click="team()"><span>Team</span></li>
	    </ul>
		</div>
	</footer>
</div>