<script type="text/ng-template" id="about.html">
	<div class="modal-header">
		<h3 class="modal-title">About</h3>
	</div>
	<div class="modal-body">
		<p>Degree Check was built to help students figure out whether they are going to fulfill all of the requirements for their major. By using this app, students can plan out schedules for their remaining semesters at Cal and determine if these schedules include all of the required courses they need. Currently, our app only supports the EECS and Computer Science majors.</p>
		<p>This app was built as project for CS 169, an upper division Computer Science class on Software Engineering.</p>
	</div>
</script>

<script type="text/ng-template" id="contact.html">
	<div class="modal-header">
		<h3 class="modal-title">Contact</h3>
	</div>
	<div class="modal-body">
		<p>If you have any questions about this app, please contact any of the students in the Team section.</p>
	</div>
</script>

<script type="text/ng-template" id="team.html">
	<div class="modal-header">
		<h3 class="modal-title">Team</h3>
	</div>
	<div class="modal-body team-body">
		<ul class="team">
			<li class="team-member">
				<div class="profile-picture mari">
				</div>
				<div class="profile-information">
					<span class="name">Mari Batilando</span>
					<span class="title">Shiba Inu Lover</span>
					<p class="description">
						Mari likes to codeNStuff. He&#39;d rather be petting cute puppies, but he&#39;ll settle for Team DegreeCheck.
					</p>
				</div>
				<ul class="contact">
					<li>
						<a href="mailto:mari.batilando@gmail.com">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</li>
			<li class="team-member">
				<div class="profile-picture michael">
				</div>
				<div class="profile-information">
					<span class="name">Michael Lannin</span>
					<span class="title">MongoDB Meistro</span>
					<p class="description">
						Michael loves blessing. He spends his time making new schedules and blessing them himself.
					</p>
				</div>
				<ul class="contact">
					<li>
						<a href="mailto:mlannin23@gmail.com">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</li>
			<li class="team-member">
				<div class="profile-picture austin">
				</div>
				<div class="profile-information">
					<span class="name">Austin Liou</span>
					<span class="title">CalNet Specialist</span>
					<p class="description">
						Austin is the ideator of DegreeCheck. He loves it almost as much as Math 116.
					</p>
				</div>
				<ul class="contact">
					<li>
						<a href="mailto:alnc94@berkeley.edu">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</li>
			<li class="team-member">
				<div class="profile-picture josh">
				</div>
				<div class="profile-information">
					<span class="name">Joshua Mak</span>
					<span class="title">Unicorn Killer</span>
					<p class="description">
						Josh is secretly a maniacal unicorn hunter. He fuels DegreeCheck with a blood
						of a thousand unicorns.
					</p>
				</div>
				<ul class="contact">
					<li>
						<a href="mailto:joshmak@berkeley.edu">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</li>
			<li class="team-member">
				<div class="profile-picture lawrence">
				</div>
				<div class="profile-information">
					<span class="name">Lawrence Ng</span>
					<span class="title">KATSU Disciple</span>
					<p class="description">
						Lawrence is an aspiring Degree Adviser. He spends his free time blessing schedules on DegreeCheck.
					</p>
				</div>
				<ul class="contact">
					<li>
						<a href="mailto:lawrencengusa@gmail.com">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</script>



<div class="footer-partial">
	<footer class="footer">
		<div class="container-fluid">
	    <ul class="links">
	      <li><a ng-click="about()"><span>About</span></li>
	      <li><a ng-click="contact()"><span>Contact</span></li>
	      <li><a ng-click="team()"><span>Team</span></li>
	    </ul>
		</div>
	</footer>
</div>