
<script type="text/ng-template" id="administrator.major.edit-course.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a Course</h3>
    </div>
    <div class="modal-body">
        <form>
            <div id="coursename-div" class="question">
                <span class="requirement_field">Course Name</span>
                <input ng-model="course.name" id="course_name" type="text">
            </div>
            <div id="units-div" class="question">
                <span class="requirement_field">Units</span>
                <input ng-model="course.units" id="course_units" type="number">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addCourse()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="administrator-course-partial">
    <div class="section-header">
        <span class="section-title">Courses</span>
        <button class="btn btn-default create-course" ng-click="addCourse()">
            Create Course
        </button>
    </div>
    <div class="course-div">
        <div class="course-header">
            <span class="course-name">All Courses</span>
        </div>
        <ul class="courses">
            <li class="course" ng-repeat="course in majorService.allCourses">
                <span class="course-name">{{course.name}}</span>
                <div class="course-options">
                    <button class="btn btn-default edit-course fa fa-edit"
                            ng-click="editCourse(course)">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
