<div class="admin-section">
	<a href="/admin">Back to Student Search</a>
	<br /><br />
	<h4>Leave a comment for this schedule:</h4>
	<textarea class="comments" ng-model="scheduleService.currSchedule.comments">
		{{scheduleService.currSchedule.comments}}
	</textarea>
	<button class="btn btn-primary" ng-click="saveSchedule()">Save</button>
	<br />
	<input name="blessed" type="checkbox" ng-model="scheduleService.currSchedule.blessed">
	<label for="blessed">Bless Schedule?</label>
</div>
<div class="admin-scheduler">
	<div class="col-md-9">
	  <div ui-view="schedule" class="schedule"></div>
	</div>
	<div class="col-md-3">
	  <div ui-view="requirements" class="requirements"></div>
	</div>
</div>