<div class="admin-section">
	<textarea class="comments" ng-model="scheduleService.currSchedule.comments">
		{{scheduleService.currSchedule.comments}}
	</textarea>
	<label for="blessed">Bless?</label>
	<input name="blessed" type="checkbox" ng-model="scheduleService.currSchedule.blessed">
	<button class="btn btn-primary" ng-click="saveSchedule()">Save</button>
</div>
<div class="admin-scheduler">
	<div class="col-md-9">
	  <div ui-view="schedule" class="schedule"></div>
	</div>
	<div class="col-md-3">
	  <div ui-view="requirements" class="requirements"></div>
	</div>
</div>