<header class="requirements-header">
	<h3>{{ scheduleService.currSchedule.major[0].name }} Requirements</h3>
</header>

<div ng-repeat="requirement in scheduleService.currSchedule.major[0].requirements" class="requirement-section">
	 <div class="requirement-subsection">
	 	  <header class="requirement-name" ng-class="{ 'sat': requirement.satisfied, 'ip': requirement.ip, 'not-sat': requirement.notStarted}">{{ requirement.name }} ({{requirement.quantity}} {{requirement.type}})</header>
	 		<ul class="requirements-list">
		 	 	<li ng-repeat="course in requirement.courses">
		 	 		<a target="_blank" custom-link="{{course.name}}">
			 	 		<span class="badge" ng-class="{ 'satisfied': course.satisfied, 'not-satisfied': !course.satisfied }">
			 	 		  {{ course.name }}
			 	 		</span>
		 	 		</a>
		 	 	</li>
		 </ul>
	 </div>
</div>