<div class="admin-search-partial">
	<h1 class="admin-search-title">Search for Student Schedules</h1>
	<form class="search-fields">
		<label for="name">Name</label>
		<input name="name" type="text" placeholder="Student Name" ng-model="name">

		<label for="email">Email</label>
		<input name="email" type="text" placeholder="Student Email" ng-model="email">

		<label for="uid">UID</label>
		<input name="uid" type="text" placeholder="Student UID" ng-model="uid">
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th width="22%" colspan="2"><h4>Name</h4></th>
				<th width="30%"><h4>Email</h4></th>
				<th width="18%"><h4>UID</h4></th>
				<th width="30%"><h4>Schedules</h4></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in students | filter:filterSearch(name,email,uid) | orderBy:studentName">
				<td colspan="2"><a ng-href="/admin/view/{{student.uid}}">{{student.name}}</a></td>
				<td>{{student.email}}</td>
				<td>{{student.uid}}</td>
				<td ng-repeat="schedule in student.schedules">{{schedule.name}}<br /></td>
			</tr>
		</tbody>
	</table>
</div>