<script type="text/ng-template" id="scheduler.edit-prev-coursework.html">
	<div class="modal-header">
		<h3 class="modal-title">Previous Coursework</h3>
		<span>Add Berkeley equivalent classes you have taken before here.</span>
	</div>
	<div class="modal-body">
		<ul class="classes">
			<li ng-repeat="class in prev_coursework">
				<span type="text">{{ class.name }}</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="done()">Done</button>
	</div>
</script>

<div class="schedule-header">
	<nav class="schedules">
		<ul class="pagination">
			<li>
				<a ng-repeat="schedule in scheduleService.schedule.schedules" ng-click="changeSchedule(schedule._id)">
					{{ $index + 1 }}
				</a>
			</li>
		</ul>
	</nav>
	<h3>{{ scheduleService.currSchedule.name }}</h3>
	<div class="header-options">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="editPrevCoursework()"><i class="fa fa-inbox"></i></button>
		</div>
	</div>
</div>

<div class="schedule-grid">
	<div class="semester-labels">
		<div class="semester-label fall">
			<h1>
				F
				A
				L
				L
			</h1>
		</div>
		<div class="semester-label spring">
			<h1>
				S
				P
				R
				I
				N
				G
			</h1>
		</div>
		<div class="semester-label summer">
			<h1>
				S
				U
				M
				M
				E
				R
			</h1>
		</div>
	</div>
	<div class="year-col" ng-repeat="year in scheduleService.yearsProcessed">
		<h3>{{year.startYear}} - {{year.endYear}}</h3>
		<div class="semester" ng-repeat="semester in year.semesters">
			<div class="course" ng-repeat="class in semester.courses">
				<span type="text" class="pull-left class-name">{{ class.name }}</span>
			</div>
		</div>
	</div>
</div>
