$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
html, body, .root-view {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

body {
	background: url('../assets/images/noise.png');
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.vertical-text {
  width: 2em;  
  font-size: 35px;
  /* grande abbastanza per sicurezza */
  letter-spacing: 40px;
  font-family: "Tahoma", Arial, sans-serif;
}

.rounded {
	border-radius: 100px;
}

input {
	outline: none;

	&:focus {
		box-shadow: none !important;
	}
}

.btn {
	border-radius: 2px;
	border: none;

	&.btn-warning {
		background: #FFB800;

		&:hover {
			background-color: #FFC01C;
		}
	}

	&.btn-primary {
		background-color: #00B64F;

		&:hover {
			background-color: #00C254;
		}
	}
}

.modal-content {
	border-radius: 2px;
	box-shadow: none;

	.question {
		margin-bottom: 15px;
	}

	input {
		width: 100%;
		padding: 5px;
		box-shadow: none;
	}

	.modal-header {
		padding: 5px 25px;
		background: #333;
		color: white;
	}

	.modal-title {
		text-align: center;
		font-weight: 600;
	}

	.modal-footer {
		border: none;
	}
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'admin/admin.search.scss';
@import 'admin/admin.view.scss';
@import 'main/main.scss';
@import 'scheduler/scheduler.scss';
@import 'footer/footer.scss';
@import 'header/header.scss';
@import 'modal/modal.scss';
// endinjector
