$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
html, body, .root-view {
	height: 100%;
	width: 100%;
}

body {
	min-width: 1000px;
}


.rounded {
	border-radius: 100px;
}

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
// endinjector
