$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
html, body, .root-view {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

body {
	background: url('../assets/images/noise.png');
	min-width: 1100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.container-fluid {
	max-width: 1240px !important;
	min-width: 960px !important;
}

.container {
	width: 960px !important;
}

.vertical-text {
  width: 2em;  
  font-size: 35px;
  /* grande abbastanza per sicurezza */
  letter-spacing: 40px;
  font-family: "Tahoma", Arial, sans-serif;
}

.rounded {
	border-radius: 100px;
}

* {
	outline: none !important;

	&:focus {
		box-shadow: none !important;
	}
}

.btn {
	border-radius: 2px;
	border: none;

	&.btn-warning {
		background: #FFB800;

		&:hover {
			background-color: #FFC01C;
		}
	}

	&.btn-primary {
		background-color: #00B64F;

		&:hover {
			background-color: #00C254;
		}
	}
}

.fa-9x {
	font-size: 9em;
}

.modal-content {
	border-radius: 2px;
	box-shadow: none;

	.question {
		margin-bottom: 15px;
	}

	input, select {
		width: 100%;
		padding: 5px;
		box-shadow: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		width: 100%;
		text-overflow: ellipsis;
		background: #f4f4f4;
		padding: 1.5% 2%;
		margin: 3px 0;
		border: 1px solid #ABA7A7;
		border-radius: 2px;

		.name {
			max-width: 95px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
		}

		.options {
			float: right;
			position: relative;
			top: 2px;
		}

		.fa {
			background: transparent;
			border: none;
			padding: 0px 0px;
			font-size: 17px;
		}
	}

	input[type="radio"] {
		width: 12px;
	}

	.modal-header {
		padding: 5px 25px;
		background: #333;
		color: white;
	}

	.modal-title {
		text-align: center;
		font-weight: 600;
	}

	.modal-footer {
		border: none;
	}
}

span[role="status"] {
	display: none;
}

.ui-autocomplete {
	background: white;
	width: 180px;
	padding: 0;
	font-size: 15px;

	li {
		list-style: none;
		font-weight: 400;
		cursor: pointer;
		padding: 0 40px;

		&:hover {
			background: #2980B9;
			color: white;
		}
	}
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'admin/admin.search.scss';
@import 'admin/admin.view.scss';
@import 'administrator/administrator.course.scss';
@import 'administrator/administrator.major.scss';
@import 'main/main.scss';
@import 'scheduler/scheduler.scss';
@import 'footer/footer.scss';
@import 'header/header.scss';
@import 'modal/modal.scss';
// endinjector
