<div class="plan-header">
	<ul class="schedules">
		<li>1</li>
	</ul>
	<h1>{{ requirementService.schedule.name }}</h1>
	<div class="schedule-actions">
		<button class="fa fa-cog"></button>
		<button class="fa fa-trash"></button>
		<button class="fa fa-plus"></button>
	</div>
</div>

<div class="schedule-plan"
	 ng-repeat="semester in requirementService.schedule.semesters">
	 <header>
	 	<h1>{{ semester.season }} {{ semester.year }}</h1>
	 </header>
	 <ul class="classes">
	 	<li ng-repeat="course in semester.courses">
	 		{{ course.name }}
	 	</li>
	 </ul>
	 <div class="add-class-container">
		<button>
			<i class="fa fa-plus-circle"></i>
			<span>Add Course</span>
		</button>
	</div>
</div>

<div class="add-semester">
	<header>
		<h1>Add Semester</h1>
		<button class="fa fa-plus-circle"></button>
	</header>
</div>