<div class="plan-header">
	<ul class="schedules">
		<li>1</li>
	</ul>
	<h1>My Custom Plan</h1>
	<div class="schedule-actions">
		<button class="fa fa-cog"></button>
		<button class="fa fa-trash"></button>
		<button class="fa fa-plus"></button>
	</div>
</div>

<div class="schedule-plan">
	<header>
		<h1>Fall 2014</h1>
	</header>
	<ul class="classes">
		<li>CS 61A</li>
		<li>CS 61B</li>
	</ul>
	<div class="add-class-container">
		<button>
			<i class="fa fa-plus-circle"></i>
			<span>Add Course</span>
		</button>
	</div>
</div>

<div class="schedule-plan">
	<header>
		<h1>Fall 2014</h1>
	</header>
	<ul class="classes">
		<li>CS 61A</li>
		<li>CS 61B</li>
	</ul>
	<div class="add-class-container">
		<button>
			<i class="fa fa-plus-circle"></i>
			<span>Add Course</span>
		</button>
	</div>
</div>

<div class="add-semester">
	<header>
		<h1>Add Semester</h1>
		<button class="fa fa-plus-circle"></button>
	</header>
</div>