<div class="scheduler-partial">
  <div ui-view="header" class="header"></div>
  <div class="scheduler-main">
  <div class="admin-comments">
    <p class="text-muted" ng-show="scheduleService.currSchedule.blessed">This schedule has been blessed by an advisor.</p>
    <p ng-show="scheduleService.currSchedule.comments">{{scheduleService.currSchedule.comments}}</p>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div ui-view="schedule" class="schedule"></div>
        </div>
        <div class="col-md-3">
    	  <div ui-view="requirements" class="requirements"></div>
        </div>
      </div>
    </div>
  </div>
  <div ui-view="footer" class="footer"></div>
</div>