<header class="requirements-header">
	<h1>{{ scheduleService.currSchedule.major[0].name }} Requirements</h1>
</header>

<div ng-repeat="requirement in scheduleService.currSchedule.major[0].requirements"
	 class="requirement-section">
	 <header>{{ requirement.division }} <i class="fa fa-caret-down"></i></header>
	 <div class="requirement-subsection">
	 	  <header>{{ requirement.name }}</header>
	 	<ul class="requirements-list">
		 	 <li ng-repeat="course in requirement.courses">
		 	 	<span class="badge"
		 	 		  ng-class="{ 'satisfied': course.satisfied, 'not-satisfied': !course.satisfied }">
		 	 		  {{ course.name }}
		 	 	</span>
		 	 </li>
		 </ul>
	 </div>
</div>