<header class="requirements-header">
	<h1>{{ scheduleService.currSchedule.major[0].name }} Requirements</h1>
</header>

<div ng-repeat="(type, requirement) in scheduleService.classesRequired"
	 class="requirement-section">
	 <header>{{ type }} <i class="fa fa-caret-down"></i></header>
	 <div ng-repeat="(req, courses) in requirement"
	 	  class="requirement-subsection">
	 	  <header>{{ req }}</header>
	 	<ul class="requirements-list">
		 	 <li ng-repeat="(name, res) in courses">
		 	 	<span class="badge"
		 	 		  ng-class="{ 'satisfied': res.satisfied, 'not-satisfied': !res.satisfied }">
		 	 		  {{ name }}
		 	 	</span>
		 	 </li>
		 </ul>
	 </div>
</div>