<script type="text/ng-template" id="scheduler.edit-prev-coursework.html">
	<div class="modal-header">
		<h3 class="modal-title">Previous Coursework</h3>
		<span>Add Berkeley equivalent classes you have taken before here.</span>
	</div>
	<div class="modal-body">
		<ul class="classes">
			<li ng-repeat="class in prev_coursework">
				<span class="name">{{ class.name }}</span>
				<div class="options">
					<button class="remove-class fa fa-times" ng-click="removeCourse(class)"></button>
				</div>
			</li>
		</ul>
		<div class="add-class-container">
			<input type="text"
			placeholder="Add Class"
			ng-model="newClass"
			ng-keyup="checkInput($event)">
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="done()">Done</button>
	</div>
</script>

<script type="text/ng-template" id="scheduler.add-schedule.html">
	<div class="modal-header">
		<h3 class="modal-title">Create a Schedule</h3>
	</div>
	<div class="modal-body">
		<form class="create-schedule-form">
				<div class="question">
					<label for="schedule-name">Name</label>
					<input name="schedule-name" type="text" ng-model="newScheduleName">
				</div>
				<div class="question">
					<label for="schedule-major">Major</label>
					<select name="schedule-major"
					ng-model="newScheduleMajor">
					<option ng-repeat="major in majorService.allMajors" value="{{major._id}}">{{major.name}}</option>
				</select>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="createSchedule(newScheduleName, newScheduleMajor)">Create</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="scheduler.delete-schedule.html">
	<div class="modal-header">
		<h3 class="modal-title">Delete a Schedule</h3>
	</div>
	<div class="modal-body">
		<span ng-show="deletable">Are you sure you want to delete <strong>{{scheduleService.currSchedule.name}}</strong> ?</span>
		<span ng-hide="deletable">You cannot delete <strong>{{scheduleService.currSchedule.name}}</strong>, because it is your only schedule.<br />You must create a new schedule first.</span>
	</div>
	<div class="modal-footer">
		<button ng-show="deletable" class="btn btn-primary" ng-click="deleteSchedule()">Delete</button>
		<button ng-show="deletable" class="btn btn-warning" ng-click="cancel()">Cancel</button>
		<button ng-hide="deletable" class="btn btn-primary" ng-click="cancel()">Ok</button>
	</div>
</script>

<div class="schedule-header">
	<div class="settings clearfix">
		<div class="col-xs-6">
			<ul class="pagination pull-left">
				<li ng-repeat="schedule in scheduleService.schedule.schedules">
					<a ng-click="changeSchedule(schedule._id)">
						{{ $index + 1 }}
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<button class="btn btn-default" ng-click="editPrevCoursework()"><i class="fa fa-edit"></i> Edit Previous Coursework</button>
				<button class="btn btn-default" ng-click="addSchedule()"><i class="fa fa-plus"></i> New Schedule</button>
			</div>
		</div>
	</div>
	<div class="options clearfix">
		<div class="col-xs-3">
			<div class="pull-left">
				<button class="btn btn-default" ng-click="addYear(scheduleService.yearsProcessed)"><i class="fa fa-plus"></i> Year</button>
				<button class="btn btn-default" ng-click="deleteYear(scheduleService.yearsProcessed)"><i class="fa fa-minus"></i> Year</button>
			</div>
		</div>
		<div class="col-xs-6">
			<h3>{{ scheduleService.currSchedule.name }}</h3>
		</div>
		<div class="col-xs-3">
			<div class="pull-right">
				<button class="btn btn-default" ng-click="deleteSchedule()"><i class="fa fa-trash"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="schedule-grid">
	<div class="semester-labels">
		<div class="semester-label fall">
			<h1>
				F
				A
				L
				L
			</h1>
		</div>
		<div class="semester-label spring">
			<h1>
				S
				P
				R
				I
				N
				G
			</h1>
		</div>
		<div class="semester-label summer">
			<h1>
				S
				U
				M
				M
				E
				R
			</h1>
		</div>
	</div>
	<div class="year-col" ng-repeat="year in scheduleService.yearsProcessed">
		<h3>{{year.startYear}} - {{year.endYear}}</h3>
		<div class="semester" ng-repeat="semester in year.semesters">
			<ul class="courses">
				<li class="course"
					ng-repeat="class in semester.courses"
					ng-class="{ deleting: class.deleting }">
					<span type="text" class="pull-left class-name">{{ class.name }}</span>
					<button class="btn btn-default btn-sm pull-right remove-course"
							ng-click="removeCourse(semester._id, class.name)"
							ng-mouseover="class.deleting = true"
							ng-mouseleave="class.deleting = false">
							<i class="fa fa-times"></i>
					</button>
				</li>
			</ul>

			<div class="add-class">
				<input type="text" placeholder="Add Class" ng-model="newClass[semester._id]" ng-keyup="checkInput($event, semester._id)" class="form-control" ui-items="allCourses" autocomplete>
			</div>
		</div>
	</div>
</div>
