<header class="requirements-header">
	<h1>CS Major Requirements</h1>
</header>

<div class="requirement-section">
	<header>Lower Division <i class="fa fa-caret-down"></i></header>
	<ul class="requirements-list">
		<li><span class="badge">CS 61A</span></li>
		<li><span class="badge">CS 61B</span></li>
	</ul>
</div>

<div class="requirement-section">
	<header>Upper Division <i class="fa fa-caret-down"></i></header>
	<div class="requirement-subsection">
		<header>Design (0/20 Units)</header>
		<ul class="requirements-list">
			<li><span class="badge">CS 160</span></li>
			<li><span class="badge">CS 169</span></li>
		</ul>
	</div>
</div>